/* Add your own styles */
html{
	background-image: url("flags.jpg");
}

.container{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
}


#maindiv{
    grid-column: 2;
    background-color: white;
    height:100%;
    border-style: solid;
}

body{
    font-size: 18px ;
    color: #000 ;
    font-family: -apple-system,BlinkMacSystemFont,"SegoeUI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sansserif;
}

header{
    background-color: #a79344;
    color:white;
    padding-top: 20px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    gap:30px;
}

h1{
    font-family: 'Acme', sans-serif;
    padding-top:3px;
    font-size: 50px;
}
#globe{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

main{
    display: flex;
    justify-content: center;
}

main .container{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
}

#buttons{
    display:flex;
    justify-content:center;
    gap:20px;
}

#searchbar{
    display:flex;
    justify-content:center;
}

#country{
    width:500px;
    height:35px;
    border-radius: 5px;  
}

#lookup{
    width: 150px;
    height:28px;
    background-color: #a79344;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}
#cities{
    width: 150px;
    height:28px;
    background-color: white;
    border-radius: 5px;
    font-weight: bold;
    color: #a79344;
    border-color: #a79344;
}

.displaytable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:#a79344 ;
    color: white;
}

.displaytable{
    border-collapse: separate;
    width: 100%; 
}

.displaytable td, .displaytable th {
    border: 1px solid rgb(202, 201, 201);
    padding: 10px;
}

.displaytable tr:nth-child(even){
    background-color: #d6d4d4;
}

.th1{
    width:350px;
}

.th2,.th3{
    width:120px;
}

.th4{
    width:280px
}
